
.MainMenu {
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.MainMenu-list {
	margin: 0;
	padding: 0;
}

.MainMenu-item {
	display: inline-block;
	margin-left: 1.5em;
	
}

.MainMenu-link {
	text-decoration: none;
	color: white;
	line-height: 3.75em;
}

.Me {
	background: orange;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
	margin:0; /* Borra los espacios entre contenedores, por defecto el margin es 60 */
}

.Me-imageContainer {
	margin: 0;
	margin-top: 3.75em; /* tamaño del MainMenu, se le añade para que coja el ancho de este*/
}

.Me-image {
	border: 5px solid #1E1E1E;
	background: #1E1E1E;
	border-radius: 50%;
}

.Me-descriptionName,
.Me-descriptionWork {
	color: white;
}

.Me-descriptionName{
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
}

.Me-line {
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}

.Me-descriptionWork {
 	font-size: 1.5em;
    font-weight: 300;
}

/* Social Media*/

.Social-list {
	margin: 10px;
	padding: 0;
}

.Social-item {
	display: inline-block; 
}

#SocialCenter {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* Fondo circular */

.Social-list li a {
    display: block;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    font-size: 1.25em;
    border: 2px solid white;
    color: white; /* #fff */
    background-color: #1E1E1E;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/* Efecto de iluminación */

.Social-list li a:hover,
.Social-list li a:focus,
.Social-list li a:active {
    background-color: orange;
}


/* About */

.About {
	background: lightgray;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
	margin:0; /* Borra los espacios entre contenedores, por defecto el margin es 60 */
}

.AboutMe-title {
	margin-top: 1.75em; /* tamaño del MainMenu, se le añade para que coja el ancho de este*/
}

.AboutMe-description {
	font-size: 1.1em;
	color: #515151;
	/*margenes de la description de about*/
	margin-right: 10em; 
	margin-left: 10em;
	font-style: italic;
}

.AboutMe-line{
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}

/* About */

.Work {
	background: white;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
	margin:0; /* Borra los espacios entre contenedores, por defecto el margin es 60 */
}

.Work-title {
	margin-top: 1.75em; /* tamaño del MainMenu, se le añade para que coja el ancho de este*/
}

.Work-line {
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}



.Work-item {
	display: inline-block;
	margin-right: 1.2em;
	margin-left: 1.2em;
	margin-bottom: 1.8em;
}

.Work-containerDescription {
	margin:0;
	margin-top: 2.5em;

}

.Work-description {
	font-size: 1.1em;
	color: #1E1E1E;
	font-style: italic;
}

/* Link hover Work */

/*.Work-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}



.Work-containerDescription1 {
    position: absolute;
    margin:0;
	margin-top: 2.5em;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.Work-containerDescription1:hover {
    opacity: 1;
}

.Work-containerDescription1 .Work-description1 {
    position: absolute;
    font-size: 1.1em;
	color: white;
	font-style: italic;;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.Work-containerDescription1 .Work-description1 i {
    margin-top: -12px;
}
*/

/* Contact */

.Contact {
	background: lightgray;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
	margin:0; /* Borra los espacios entre contenedores, por defecto el margin es 60 */
}

.Contact-title {
	margin-top: 1.75em; /* tamaño del MainMenu, se le añade para que coja el ancho de este*/
}

.Contact-line {
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}



.Contact-form {
	text-align: center;
	margin-top: 3.75em;
	display: inline-block;
	width: 32em;
	text-align: center;
}

.Contact-formInput,
.Contact-formTextArea {
	border-radius: 1em; /* pone borde al radio */
	border: none;
	display: inline-block;
	width: 28em; /* Permíteme crecer input a lo ancho */
	padding: .5em;
	margin: 0 auto 1em; /*Centra un elemento con dislay:block con un ancho dado y ponemos el margin-bottom*/
}

.Contact-formButton{
	background: orange;
	color: white;
	border: none;
	display: inline-block;
	padding: .5em;
	margin-top: .5em;
}

.Contact-formButton:hover,
.Contact-formButton:focus,
.Contact-formButton:active,
.Contact-formButton.active {
    color: white;
    background: purple;
}


/* footer */

.Contact-footer {
	text-align: center;
}

.Contact-Me {
	font-weight: bold;
}

