
.MainMenu {
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.MainMenu-list {
	margin: 0;
	padding: 0;
}

.MainMenu-item {
	display: inline-block;
	margin-left: 1.5em;
	
}

.MainMenu-link {
	text-decoration: none;
	color: white;
	line-height: 3.75em;
}

.Me {
	background: orange;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
}

.Me-imageContainer {
	margin: 0;
}

.Me-image {
	border: 5px solid #1E1E1E;
	background: #1E1E1E;
	border-radius: 50%;
}

.Me-descriptionName,
.Me-descriptionWork {
	color: white;
}

.Me-descriptionName{
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
}

.Me-line {
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}

.Me-descriptionWork {
 	font-size: 1.5em;
    font-weight: 300;
}

/* Social Media*/

.Social-list {
	margin: 10px;
	padding: 0;
}

.Social-item {
	display: inline-block; 
}

#SocialCenter {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* Fondo circular */

.Social-list li a {
    display: block;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    font-size: 1.25em;
    border: 2px solid white;
    color: white; /* #fff */
    background-color: #1E1E1E;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/* Efecto de iluminación */

.Social-list li a:hover,
.Social-list li a:focus,
.Social-list li a:active {
    background-color: orange;
}


/* About */

.About {
	background: lightgray;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
}

.AboutMe-description {
	font-size: 1.1em;
	color: #515151;
	/*margenes de la description de about*/
	margin-right: 10em; 
	margin-left: 10em;
	font-style: italic;
}

.AboutMe-line{
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}

/* About */

.Work {
	background: purple;
	margin-top: 3.75em;
	padding: 1.2em 0;
	text-align: center;
}

.Work-line {
	width: 3.12em;
	height: 5px;
	border: 0px solid;
	background-color: #1E1E1E;
}

.Work {
	margin-top: 2em;
	text-align: center;
}

.Work-item {
	display: inline-block;
	margin-right: 1.2em;
	margin-left: 1.2em;
	margin-bottom: 1.8em;
}

.Work-containerDescription {
	margin:0;
	margin-top: 2.5em;

}

.Work-description {
	font-size: 1.1em;
	color: white;
	font-style: italic;
}